@model IEnumerable<Movies>


@{
}

<h1>Movies</h1>
<p>
    <a asp-action="Create" class="btn-outline-dark">Add A Movie</a><br />
    <a asp-action="SearchGenre" class="btn-outline-dark">Search Movie By Genre</a><br />
    <a asp-action="SearchTitle" class="btn-outline-dark">Search Movie By Title</a>

</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Runtime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>
